
LOA/build-Project_LOA-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/Makefile\.Debug

LOA/build-Project_LOA-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/Makefile

LOA/build-Project_LOA-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/Makefile\.Release

*.user

*.obj

*.exe

*.ilk

*.pdb

LOA/build-Project_LOA-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug/
